@model UserBudgetsViewModel

@if (!Context.Session.TryGetUserId(out _))
{
    <div>Sign in or Sign up to start creating your budgets!</div>
}
else
{
    @if (Model.Budgets.Any())
    {
        @foreach (var budget in Model.Budgets)
        {
            <div>
                <a asp-controller="Budget" asp-action="Display" asp-route-id="@budget.BudgetId">@budget.Name</a>
                <button class="btn btn-outline-danger">Delete</button>
            </div>
        }
    }
    <div>
        <form asp-action="Create" asp-controller="Budget">
            <p>Create a new budget to track</p>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" asp-for="BudgetName"/>
                <input type="submit" class="btn btn-outline-success">
            </div>
        </form>
    </div>
}