@model CreateExpenseViewModel

<div class="form-group">
    <label for="amount-paid">Amount Paid:</label>
    <span asp-validation-for="AmountPaid" class="text-danger"></span>
    <input 
           id="amount-paid" 
           type="number" 
           step="any" 
           asp-for="AmountPaid" 
           value="@Model.AmountPaid"
           class="form-control" 
    />
</div>