@model CreateExpenseViewModel

<div class="form-group">
    <label for="select-recurrence">Recurrence:</label>
    <select 
            id="select-recurrence" 
            asp-for="Recurrence" 
            value="@Model.Recurrence"
            class="custom-select"
    >
        @foreach (var item in Enum.GetValues<Recurrence>())
        {
            <option value="@item">@item.ToString()</option>
        }
    </select>
</div>